body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#frame {
    width: min(40vw, 40vh);
    height: min(40vw, 40vh);
    position: absolute;
    bottom: 1vh;
    right: 1vw;
}

.checkSize {
    max-width: 100vw;
    max-height: 100vh;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fade 2s linear 0s;
    display: block;
}