#question-answer {
    font-family: 'LXGW WenKai Mono TC';
    font-size: 5vmin;
    padding: 1%;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#question-answer:focus {
    border-color: #4a90e2;
    box-shadow: 0 4px 8px rgba(74, 144, 226, 0.5);
}

#question-title {
    // padding = 1% (left and right)
    font-family: 'LXGW WenKai Mono TC';
    font-size: calc(var(--font-size) + 1.5vw);
    font-weight: 400;
    font-style: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}