.text {
    user-select: none;

    font-size: 200%;
    font-family: 'LXGW WenKai Mono TC';
    font-weight: 400;
    font-style: normal;

    overflow: hidden;
    border-right: .05em solid;
    white-space: nowrap;

    position: absolute;
    bottom: 30%;
    right: 30%;
}

@keyframes deTyping {
    to {
        width: 0;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes caret {
    50% {
        border-right-color: transparent;
    }
}

#Illustrate {
    user-select: none;

    color: gray;
    white-space: nowrap;

    font-size: 100%;
    font-family: 'LXGW WenKai Mono TC';
    font-weight: 400;
    font-style: normal;

    position: absolute;
    bottom: 45%;
    right: 30%;

    display: none;
}