code,
pre {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important
}

code[class=language-plaintext] {
    white-space: pre-line
}

code.hljs,
code[class*=language-],
pre[class*=language-] {
    word-wrap: normal;
    background: none;
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.5;
    tab-size: 4;
    white-space: pre;
    word-break: normal;
    word-spacing: normal
}

[dir=ltr] code.hljs,
[dir=ltr] code[class*=language-],
[dir=ltr] pre[class*=language-] {
    text-align: left
}

[dir=rtl] code.hljs,
[dir=rtl] code[class*=language-],
[dir=rtl] pre[class*=language-] {
    text-align: right
}

pre[class*=language-] {
    border-radius: .3em;
    overflow: auto
}

:not(pre)>code.hljs,
:not(pre)>code[class*=language-] {
    border-radius: .3em;
    padding: .1em;
    white-space: normal
}

.dark code.hljs,
.dark code[class*=language-],
.dark pre[class*=language-] {
    color: #fff
}

.dark .hljs-comment {
    color: #ffffff80
}

.dark .hljs-meta {
    color: #fff9
}

.dark .hljs-built_in,
.dark .hljs-class .hljs-title {
    color: #e9950c
}

.dark .hljs-doctag,
.dark .hljs-formula,
.dark .hljs-keyword,
.dark .hljs-literal {
    color: #2e95d3
}

.dark .hljs-addition,
.dark .hljs-attribute,
.dark .hljs-meta-string,
.dark .hljs-regexp,
.dark .hljs-string {
    color: #00a67d
}

.dark .hljs-attr,
.dark .hljs-number,
.dark .hljs-selector-attr,
.dark .hljs-selector-class,
.dark .hljs-selector-pseudo,
.dark .hljs-template-variable,
.dark .hljs-type,
.dark .hljs-variable {
    color: #df3079
}

.dark .hljs-bullet,
.dark .hljs-link,
.dark .hljs-selector-id,
.dark .hljs-symbol,
.dark .hljs-title {
    color: #f22c3d
}

.light code.hljs,
.light code[class*=language-],
.light pre[class*=language-] {
    color: #383a42
}

.light .hljs-comment,
.light .hljs-quote {
    color: #a0a1a7;
    font-style: italic
}

.light .hljs-doctag,
.light .hljs-formula,
.light .hljs-keyword {
    color: #a626a4
}

.light .hljs-deletion,
.light .hljs-name,
.light .hljs-section,
.light .hljs-selector-tag,
.light .hljs-subst {
    color: #e45649
}

.light .hljs-literal {
    color: #0184bb
}

.light .hljs-addition,
.light .hljs-attribute,
.light .hljs-meta-string,
.light .hljs-regexp,
.light .hljs-string {
    color: #50a14f
}

.light .hljs-built_in,
.light .hljs-class .hljs-title {
    color: #c18401
}

.light .hljs-attr,
.light .hljs-number,
.light .hljs-selector-attr,
.light .hljs-selector-class,
.light .hljs-selector-pseudo,
.light .hljs-template-variable,
.light .hljs-type,
.light .hljs-variable {
    color: #986801
}

.light .hljs-bullet,
.light .hljs-link,
.light .hljs-meta,
.light .hljs-selector-id,
.light .hljs-symbol,
.light .hljs-title {
    color: #4078f2
}

.light .hljs-emphasis {
    font-style: italic
}

.light .hljs-strong {
    font-weight: 700
}

.light .hljs-link {
    -webkit-text-decoration: underline;
    text-decoration: underline
}